body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.react-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #61DBFB;
    border-radius: 50%;
}

.orbit {
    position: absolute;
    height: 500px;
    width: 175px;
    border: 25px solid #61DBFB;
    border-radius: 50%;
}

.ring-1 {
    transform: rotate(35deg);
}

.ring-2 {
    transform: rotate(-35deg);
}

.ring-3 {
    transform: rotate(90deg);
}
